.App {

}

#videoElement {
  width: 500px;
  height: 500px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.superpose {
  width: 40px;
  transform: translate(-50%, -50%);
}

.absElement {position: absolute}
